<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/bichomongo?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <!-- <property name="connection.password">root</property> -->
         <property name="connection.password">very_strong_pasword</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Disable the second-level cache
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        -->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Especie" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Accion" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Bicho" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Entrenador" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Duelo" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.condicion.Condicion" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.condicion.CondicionEdad" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.condicion.CondicionEnergia" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.condicion.CondicionNivel" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.condicion.CondicionVictorias" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Experiencia" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Nivel" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Ubicacion" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Dojo" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Guarderia" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Pueblo" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.ProbabilidadDeOcurrencia" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Ataque" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.ResultadoCombate" />
        <mapping class="ar.edu.unq.epers.bichomon.backend.model.Champion" />
    </session-factory>
</hibernate-configuration>
